h2{
    font-size: 30px;
    color: brown;
    background-color: wheat;
    padding: 15px;
}

.content{
    background-color: whitesmoke;
    padding: 15px;
    border: double 1px rgb(99, 94, 94);
}

img{
    border: solid 1px darkblue;
    border-radius: 50%;
}

a:hover{
    color: red;
}

table{
    color: rgb(68, 10, 75);
    border:  1px whitesmoke;
    padding: 10px;
    background-color: whitesmoke;
}
table th{
    padding: 10xp;
    color: rgb(38, 35, 35);
    background-color: rgb(205, 208, 225);
}
table td{
    padding: 3xp 10px;
    text-align: left;
}

header{
    background-size: cover;
    background-image: ur1("./nuno.jpg");
    color: white;
    font-size: 30px;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
}

nav{
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    display: inline-block;
    width: 15%;
    background-color: #4d25df;
    font-size: 15px;
}

nav ul li::after{
    content: "|";
    padding-left: 40px; 
    color: #6e4d4d;
 
}
 
nav ul li:last-child::after {
    content: ""; 
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav li:hover{
    border-bottom: 2px;
    background-color: red;
    opacity: 0.8;
}